[user]
  name = Marco Moschettini
  email = m.marmos@gmail.com
	signingkey = 387575CD05594FF9

[github]
  user = marmos91

[core]
	excludesfile = /Users/marcomoschettini/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
[hub]
	protocol = ssh
