[user]
  name = Marco Moschettini
  email = m.marmos@gmail.com
	signingkey = 0ABF2D545EFF9DB3

[github]
  user = marmos91

[core]
	excludesfile = /Users/marcomoschettini/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
[hub]
	protocol = ssh
[pull]
	rebase = true
[fetch]
	prune = true
