[iam]
aws_access_key_id = {{ pass "cubbit/aws/access-key-id" }}
aws_secret_access_key = {{ pass "cubbit/aws/secret-access-key" }}

[cubbit-ngc-personal]
aws_access_key_id = {{ pass "cubbit/s3/ngc/personal/access-key-id" }} 
aws_secret_access_key = {{ pass "cubbit/s3/ngc/personal/secret-access-key" }} 

[cubbit-ngc-shared]
aws_access_key_id = {{ pass "cubbit/s3/ngc/shared/access-key-id" }}
aws_secret_access_key = {{ pass "cubbit/s3/ngc/shared/secret-access-key" }}

[default]
aws_access_key_id = {{ pass "cubbit/aws/access-key-id" }}
aws_secret_access_key = {{ pass "cubbit/aws/secret-access-key" }}
