[submodule "iterm/catpuccin"]
	path = iterm/catpuccin
	url = https://github.com/catppuccin/iterm.git
[submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
